main{
    background-color: rgba(0, 0, 201, 0.664);
    overflow: auto;
}

.profile{
    width: 25%;
    border-radius: 50%;
    text-align: center;
}

.about{
    margin-top: 20%;
    margin-bottom: 30%;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
